<div class="form-table">
<p class="fivepost-orange-box">Данная группа настроек предназначена для определения габаритов тех заказов, где присутствуют товары без заполненных габаритов - размеров и/или веса. Здесь можно задать те значения, что будут браться по умолчанию для расчета стоимости отправления. </p>
</div>