<tr valign="top" class="faq">
    <th colspan="2">
        <p>Прежде, чем начать работу, <a target="_blank" href="https://ipol.ru/spravka/5post_wordpress/about/">ознакомьтесь с инструкцией</a>.</p>
    </th>
</tr>