<div class="form-table">
    <p class="fivepost-orange-box">Настройка предназначена для корректности учета способа оплаты, выбранного покупателем. Необходимо указать модулю, какие именно платежные системы, установленные на сайте, считаются оплатой наличными, а какие - оплатой картой на пункте выдачи. </p>
</div>