<div class="form-table">
    <p class="fivepost-orange-box">Вы можете настроить сопоставление статусов заказа на сайте со статусами доставки 5POST. При изменении статуса доставки заказы на сайте автоматически перейдут в выбранный вами статус. Это позволит оперативно отслеживать статус заказа интернет-магазина.</p>
</div>