.post5-popup {
    display: none;
}

.post5-popup.open {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
}

.post5-popup .post5-popup-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: none;
    color: #999;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

.post5-popup .post5-popup-header {
    padding: 20px;
    height: 72px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
}

.post5-popup .post5-popup-content {
    height: calc(100% - 72px);
}

.post5-popup .post5-popup-content .yandex-map {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.post5-form .form-row + .form-row {
    margin-top: 10px;
}

.post5-form .form-row.form-row-submit {
    text-align: right;
}

.post5-form .form-row .form-column-flex {
    display: flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.post5-form .form-row .form-column-flex input {
    width:26%;
}

.post5-form .form-row .form-column-flex > * {
    display: block;
    align-self: center;
}

.post5-form .form-row .form-column-flex span {
    padding: 0 10px;
}

.post5-form .form-row .form-column-flex input {
    text-align: center;
}

#fivepost-wp-panel .inside {
    position: relative;
    padding: 0;
    margin: 0;
}

#fivepost-wp-panel.loading .inside:after {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.5);
}

#fivepost-wp-panel .change-wrapper,
#fivepost-wp-panel .create-order-form-wrapper,
#fivepost-wp-panel .order-info-wrapper {
    padding: 6px 12px;
}

#fivepost-wp-panel .change-wrapper .shipping-info-wrapper .shipping-info-title {
    font-weight: bold;
}

#fivepost-wp-panel .change-wrapper .change-shipping-form {
    display: none;
    padding-top: 10px;
}

#fivepost-wp-panel .change-wrapper .change-shipping-form .form-row label {
    display: block;
}

#fivepost-wp-panel .change-wrapper .change-shipping-form .form-row label + label {
    margin-top: 5px;
}

#fivepost-wp-panel .change-wrapper .change-shipping-form .form-row label .button-map {
    display: block;
    margin: 0 0 5px;
}

#fivepost-wp-panel .change-wrapper .change-shipping-form .form-row label .button-map:focus {
    outline: 0;
    box-shadow: none;
}

#fivepost-wp-panel .create-order-form-wrapper {
    border-top: 1px solid #ddd;
}

#fivepost-wp-panel .order-info-wrapper .order-info {
    padding: 5px;
    font-size: 14px;
    text-align: center;
    color: #004500;
    background: #D1F2AE;
    border: 2px solid #86f257;
}

#fivepost-wp-panel .order-info-wrapper .order-packages {
    margin-top: 10px;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package + .order-package {
    padding-top: 10px;
    margin-top: 10px;
    border-top: 1px solid #ddd;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-title {
    font-size: 14px;
    font-weight: bold;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-document {
    margin-top: 5px;
    padding: 5px;
    font-size: 14px;
    text-align: center;
    color: #004500;
    background: #D1F2AE;
    border: 2px solid #86f257;
}

#fivepost-wp-panel .order-package-printlabel {
    padding-top:20px;
    padding-bottom:10px;
    text-align:center;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-actions {
    text-align: right;
    margin-top:10px;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-actions .button {
    margin-top: 5px;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-history {
    margin-top: 5px;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-history .order-package-history-title {
    font-size: 14px;
    font-weight: bold;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-history .order-package-history-rows + .order-package-history-title{
    margin-top: 10px;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-history .order-package-history-rows {
    margin-top: 5px;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-history .order-package-history-rows .order-package-history-row {
    padding: 10px;
    font-size: 12px;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-history .order-package-history-rows .order-package-history-row:nth-child(odd) {
    background-color: #efefef;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-history .order-package-history-rows .order-package-history-row:nth-child(even) {
    background-color: #F8F8F8;
}

#fivepost-wp-panel .order-info-wrapper .order-packages .order-package .order-package-history .order-package-history-rows .order-package-history-row .history-date {
    font-weight: bold;
}

.woocommerce_fivepost_shipping_method_acrd {
    font-size:16px;
    text-decoration: underline;
    cursor:pointer;
    color:#2271b1;
    padding-left:15px;
    position:relative;
}
.woocommerce_fivepost_shipping_method_acrd:before {
    display:inline;
    content:"+";
    color:#2271b1;
    position:absolute;
    left:0;
    top:0;
    font-family: inherit;
    font-size:inherit;
    line-height: inherit;
}
.woocommerce_fivepost_shipping_method_acrd.sh:before {
    content:"-";
}
.woocommerce_fivepost_shipping_method_acrd span {
    font-weight: normal;
    font-size:13px;
}

.woocommerce_fivepost_shipping_method_cont {
    display:none;
    padding-left:15px;
}
.woocommerce_fivepost_shipping_method_cont > *:first-child {
    margin-top:0 !important;
}
.woocommerce_fivepost_shipping_method_cont p {
    margin-top: 0;
    margin-bottom:10px;
    font-size: 13px;
    line-height:1.5;
    font-weight: normal;
}
.woocommerce_fivepost_shipping_method_cont p.h {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    background-color: #ccc;
    font-weight: bold;
    font-size: 16px;
}
.woocommerce_fivepost_shipping_method_cont ul {
    list-style: inside;
    font-weight: normal;
}
.woocommerce_fivepost_shipping_method_cont ul li {
    font-size: 13px;
    line-height:1.5;
    color:#1d2327;
    font-weight: normal;
}
.woocommerce_fivepost_shipping_method_cont .warn {
    color:#ff2626;
}

.ymaps-2-1-79-balloon__content > ymaps {
    height: auto !important;
}

.post5-choose-point {
    background-color: #60BB46;
    border-radius: 5px;
    color: #fff;
    height: 33px;
    border: 1px solid #60BB46;
    padding: 0 20px;
    transition:0.5s;
}
.post5-choose-point:hover {
    border: 1px solid #60BB46;
    background-color:#fff;
    color:#60BB46;
}
.post5-choose-point:focus {
    outline:none;
}

p.fivepost-orange-box {
    width:100%;
    padding: 5px 10px;
    border-radius: 4px;
    border:1px solid #f9d5a2;
    background:#fce7c8;
    margin-bottom:20px;
    box-sizing: border-box;
    max-width: 634px;
}

/* popup_win */
.fivepost_upd_ppwinbg {
    position:fixed;
    left:0;
    top:0;
    right:0;
    bottom:0;
    opacity: 0.6;
    background:#000;
    z-index:98;
    display:none;
}
.fivepost_upd_ppwin {
    position:fixed;
    left:50%;
    top:50%;
    width:410px;
    height:370px;
    margin-left:-205px;
    margin-top:-185px;
    background:#fff;
    border-radius: 10px;
    z-index:99;
    padding:40px 20px 30px 20px;
    box-sizing:border-box;
    display:none;
}
.fivepost_upd_ppwin .inline {
    width:100%;
    display: flex;
    justify-content: flex-end;
    margin-top:20px;
}
.fivepost_upd_ppwin .close {
    cursor: pointer;
    position: absolute;
    right:20px;
    top:15px;
    width:24px;
    height:24px;

}
.fivepost_upd_ppwin .close:before,
.fivepost_upd_ppwin .close:after {
    display:block;
    content:"";
    width:30px;
    height:2px;
    background-color: #000;
    position:absolute;
    left:50%;
    top:50%;
    margin-top:-1px;
    margin-left:-15px;
    transition:0.5s;
}
.fivepost_upd_ppwin .close:before {
    transform: rotate(-45deg);
}
.fivepost_upd_ppwin .close:after {
    transform: rotate(45deg);
}
.fivepost_upd_ppwin .close:hover:before,
.fivepost_upd_ppwin .close:hover:after {
    background:#2271b1;
}

.fivepost_upd_ppwin .btnclose {
    margin-left:15px;
}

.fivepost_upd_ppwin p {
    margin-bottom:30px;
}
.fivepost_upd_ppwin p.h {
    font-weight: 700;
    color:#2271b1;
    font-size:16px;
    text-decoration: underline;
    margin-bottom:40px;
}

.fivepost-progressbar {
    width:100%;
    padding-top:20px;
    padding-bottom:20px;
    transition:0.5s;
    opacity:1;
}
.fivepost-progressbar.hid {
    opacity:0;
}
.fivepost-progressbar p span {
    font-size:11px;
    color:#0080ff;
}
.fivepost-progressbar .progress {
    width:100%;
    height:8px;
    position:relative;
    background:#ccc;
    border-radius: 4px;
    overflow: hidden;
    margin-top:5px;
}
.fivepost-progressbar .progress span {
    display:block;
    position:absolute;
    left:0;
    top:0;
    height:100%;
    background:#2271b1;
    width:0%;
}