.post5-map-btn-wrapper {
    display: block;
}

.post5-map-btn-wrapper button {
}

.post5-choose-point {
    background-color: #60BB46;
    border-radius: 5px;
    color: #fff;
    height: 33px;
    border: 1px solid #60BB46;
    padding: 0 20px;
    transition:0.5s;
}
.post5-choose-point:hover {
    border: 1px solid #60BB46;
    background-color:#fff;
    color:#60BB46;
}
.post5-choose-point:focus {
    outline:none;
}

.post5-popup {
    display: none;
}

.post5-popup.open {
    position: fixed;
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    z-index: 99999;
}

.post5-popup .post5-popup-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    background: none;
    color: #999;
    font-size: 20px;
    font-weight: bold;
    outline: 0;
    cursor: pointer;
}

.post5-popup .post5-popup-header {
    padding: 20px;
    height: 72px;
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    box-sizing: border-box;
}

.post5-popup .post5-popup-content {
    height: calc(100% - 72px);
}

.post5-popup .post5-popup-content .yandex-map {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.post5-inactive-point {
    margin-top:10px;
    color:#E57C03;
    font-weight:bold;
    font-size:12px;
    line-height:1.2em;
}

.ymaps-2-1-79-balloon__content > ymaps {
    height: auto !important;
}